p {
    margin-top: 0;
    margin-bottom: 0;
}
body{
    /* this style below will be inherited */
    font-family: Roboto, Arial;
    margin:0px;
    padding-top: 80px;
    padding-left: 100px;
    background-color: rgb(236, 236, 236);

}