  .thumbnail {
    width: 100%;
  }
  .video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .video-info-grid {
    display: grid;
    grid-template-columns: 60px 1fr;
  }

  .channel-picture {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 50px;
  }

  .video-info {
    display: inline-block;
    width: 230px;
  }

  .profile-picture {
    border-radius: 25px;
    width: 50px;
  }

  .thumbnail-row {
    z-index: 0;
    margin-bottom: 12px;
    position:relative;
  }

  .video-author,
  .video-stats {
    font-size: 14px;
    color: #606060;
  }

  .video-author {
    margin-bottom: 4px;
  }

  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;

  }

  @media (max-width:850px)  {
    .video-grid{
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width:851px) and (max-width:1299px) {
    .video-grid{
      grid-template-columns: 1fr 1fr 1fr;
    }
    
  }

  @media (min-width:1300px) {
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

  
    }


    
  .video-time{
   
    color: white;
    position: absolute;
    right: 7px;
    bottom: 7px;
    background-color: black;
    font-size: 12px;
    font-weight: 500;
    padding:4px 5px 4px 2px;

    border-radius: 3px;
    ;


  }